@use '../utils' as *;

.btn {
  --btn-base-color: #0067b8;
  --btn-base-text-color: #fff;

  --btn-height: 4.8rem;
  --btn-min-width: var(--btn-height);
  --btn-padding-x: 1.6rem;
  --btn-padding-y: 0.4rem;
  --btn-border-radius: 0.8rem;
  --btn-border-style: solid;
  --btn-border-width: 0rem;
  --btn-border-color: var(--btn-base-color);
  --btn-background-color: var(--btn-base-color);
  --btn-font-size: 1.6rem;
  --btn-font-weight: normal;
  --btn-line-height: normal;
  --btn-text-color: var(--btn-base-text-color);

  --btn-hover-base-color: #025ea4;
  --btn-hover-base-text-color: var(--btn-base-text-color);
  --btn-hover-border-color: var(--btn-hover-base-color);
  --btn-hover-background-color: var(--btn-hover-base-color);
  --btn-hover-text-color: var(--btn-hover-base-text-color);

  --btn-active-base-color: var(--btn-base-color);
  --btn-active-base-text-color: var(--btn-base-text-color);
  --btn-active-border-color: var(--btn-active-base-color);
  --btn-active-background-color: var(--btn-active-base-color);
  --btn-active-text-color: var(--btn-active-base-text-color);

  --btn-disabled-base-color: var(--btn-base-color);
  --btn-disabled-base-text-color: var(--btn-base-text-color);
  --btn-disabled-border-color: var(--btn-disabled-base-color);
  --btn-disabled-background-color: var(--btn-disabled-base-color);
  --btn-disabled-text-color: var(--btn-disabled-base-text-color);
  --btn-disabled-opacity: 0.6;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: var(--btn-height);
  min-width: var(--btn-min-width);
  margin: 0;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  border-style: var(--btn-border-style);
  border-color: var(--btn-border-color);
  border-width: var(--btn-border-width);
  background-color: var(--btn-background-color);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-text-color);
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;

  &[disabled] {
    border-color: var(--btn-disabled-border-color);
    background-color: var(--btn-disabled-background-color);
    color: var(--btn-disabled-text-color);
    opacity: var(--btn-disabled-opacity);
    cursor: not-allowed;
  }
  @include hover(':not([disabled])') {
    border-color: var(--btn-hover-border-color);
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-text-color);
  }

  &[class*='xs'] {
    --btn-height: 3.2rem;
    --btn-padding-x: 0.6rem;
    --btn-padding-y: 0.2rem;
    --btn-font-size: 1.2rem;
  }
  &[class*='sm'] {
    --btn-height: 4rem;
    --btn-padding-x: 0.8rem;
    --btn-padding-y: 0.4rem;
    --btn-font-size: 1.4rem;
  }
  &[class*='lg'] {
    --btn-height: 5.6rem;
    --btn-padding-x: 1.8rem;
    --btn-padding-y: 0.6rem;
    --btn-font-size: 1.8rem;
  }
  &[class*='xl'] {
    --btn-height: 6.4rem;
    --btn-padding-x: 2.4rem;
    --btn-padding-y: 0.6rem;
    --btn-font-size: 2.4rem;
  }

  &[class*='prime'] {
  }
  &[class*='second'] {
    --btn-base-color: #999999;
    --btn-base-text-color: #fff;
    --btn-hover-base-color: #909090;
  }
  &[class*='third'] {
    --btn-base-color: #00784c;
    --btn-base-text-color: #fff;
    --btn-hover-base-color: #006241;
  }
  &[class*='fourth'] {
    --btn-base-color: #a80000;
    --btn-base-text-color: #fff;
    --btn-hover-base-color: #810000;
  }

  &[class*='dark'] {
    --btn-base-color: #303030;
    --btn-base-text-color: #fff;
    --btn-hover-base-color: #000000;
  }
  &[class*='light'] {
    --btn-base-color: #eee;
    --btn-base-text-color: #000;
    --btn-hover-base-color: #dfdfdf;
  }

  &[class*='outline'] {
    --btn-border-width: 0.2rem;
    --btn-background-color: transparent;
    --btn-text-color: var(--btn-base-color);

    --btn-hover-base-color: var(--btn-base-color);
    --btn-hover-base-text-color: var(--btn-base-text-color);

    --btn-disabled-base-text-color: var(--btn-base-color);
    --btn-disabled-background-color: var(--btn-background-color);
  }

  &[class*='round'] {
    --btn-border-radius: var(--btn-height);
  }

  &[class*='light'][class*='outline'] {
    --btn-text-color: var(--btn-base-text-color);
    --btn-disabled-base-text-color: var(--btn-base-text-color);
  }

  &[class*='icon'] {
    > i,
    svg {
      // width: 1.6rem;
      // height: 1.6rem;
      // background: red;
      margin: 0 0.8rem 0 0;
    }
    &[class*='icon-right'] {
      > i,
      svg {
        margin: 0 0 0 0.8rem;
        order: 2;
      }
    }
    &[class*='icon-only'] {
      > i,
      svg {
        margin: 0;
      }
    }
  }
}

.btn-group {
  display: flex;
  gap: 0.8rem;

  & + .btn-group {
    margin-top: 1.6rem;
  }

  .btn {
    width: 100%;
    margin: 0;
  }

  &.tight {
    gap: 0;

    .btn {
      position: relative;
      margin-left: calc(var(--btn-border-width) * -1);

      @include hover {
        z-index: 1;
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
      &:first-child:not(:only-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child:not(:only-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.btn-panel {
  display: flex;
  justify-content: center;
  gap: 0.8rem;

  & + .btn-panel {
    margin-top: 1.6rem;
  }

  .left,
  .right {
    display: flex;
    gap: 0.8rem;
  }
  .left {
    margin-right: auto;
  }
  .right {
    margin-left: auto;
  }
}
