@use '../utils' as *;

.tabnav {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  display: flex;

  .tablist {
    flex: 0 0 auto;
    display: flex;
    list-style: none;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 0.1rem solid #ddd;

    .tabitem {
      flex: 0 0 auto;
      margin-bottom: -0.1rem;
      border-bottom: 0.1rem solid transparent;

      .tab {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0.8rem 1.6rem;
        border: 0;
        background: none;
        text-decoration: none;
        color: #999;
        cursor: pointer;

        @include hover(':not([disabled])') {
          color: #666;
        }

        &[disabled] {
          cursor: not-allowed;
        }
      }

      &.is-active {
        border-bottom: 0.1rem solid #000;

        .tab {
          color: #000;

          @include hover {
            color: inherit;
          }
        }
      }
    }
  }

  &.full {
    .tablist {
      flex: 1 0 auto;
      .tabitem {
        flex: 1 0 auto;
      }
    }
  }
  &.center {
    .tablist {
      justify-content: center;
    }
  }
}

.tabcontent {
  position: relative;
}

.tabpanel {
  position: absolute;
  visibility: hidden;
  padding: 1.6rem;

  &.is-active {
    position: relative;
    visibility: inherit;
  }
}
